
@media ((min-width: 430px) and (max-width:1156px)){

    body{
        background: none;
        font-size: 20px;
        height: 100vh;
    }

    /* CONTENEDOR DE LA PAGINA COMPLETA */
    .container-page{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    /* CONTAINER BARRA DE NAVEGACION */
    
    .s1{
        background-color: #60836A;
        width: 100vw;
        height: 80px;
        border-bottom: 1px solid #000;
        position: absolute;
        top: 0px;
        padding: 0;
        display: flex;
        align-items: center;
    }

    /* CONTAINER BARRA RESPONSIVE */

    .icons-bar-responsive{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    /* CONTAINER LOGO USUARIO Y NOMBRE USUARIO */

    .container-user{
        position: absolute;
        top: 15px;
        left: 70%;
        width: 200px;
        align-items: center;
        color: #fff;

    }
    
    .user-icon{
        fill: white;
        width: 50px;
        height: 50px;
    }

    #menu{
        display: none;
    }

    .icon-menu{
        display: initial;
        margin-left: 5%;
        width: 45px;
    }

    /* INPUT CHECKBOX */

    .logo{
        top: 0;
        left: 50px;
        width: 230px;
        margin: 10px 8px;
    }

    /* BARRA DE NAVEGACION */

    .bar_nav{
        background-color: #60836A;
        padding: 5px 0;
        border-bottom-right-radius: 8px;
        position: absolute;
        z-index: 10;
        top: 100%;
        display: none;
    }

    .list_nav{
        justify-content: start;
        align-items: start;
        padding: 0 20px;
        gap: 20px;
    }

    /* ICONOS DEL MENU */
    .icon-bar{
        width: 45px;
        height: 45px;
    }

    /* CONTAINER DEL RESTO DE LA PAGINIA */

    .s2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    /* CONTAINER DE TITULO, BARRA DE CONSULTA Y EL BOTTON AGREGAR */
    
    .s3{
        display: grid;
        justify-content: center;
        gap: 40px;
    }

    /* CONTENEDOR DEL TITULO */

    .container-title{
        max-width: 580px;
        max-height: 80px;
        margin-top: 180px;
        border-radius: 20px;
        font-size: 25px;
        padding: 2px 8px;
    }

    /* CONTAINER DE LA BARRA DE BUSQUEDA */

    .container-bar{
        max-width: 780px;
        max-height: 60px;
        margin: auto;
        border-radius: 20px ;
        font-weight: 600;
        gap: 30px;
    }

    .icon-lupa{
        position: sticky;
        margin-left: 8px;
        width: 40px;
    }

    /* INPUT ID PORCINOS */

    .id-porcino{
        width: 180px;
        height: 40px;
        padding: 0px 6px;
        border-radius: 27px;
        border: none;
        border: 1px solid #000;
        outline: none;
        font-size: 18px;
    }
    
    .id-porcino::placeholder{
        font-weight:600;
        color: #8D8D8D;
        font-size: 13px;
    }
    
    .id-porcino:focus::placeholder{
        color: #2C8A47;
    }
    
    .id-porcino:focus{
        background-color: #BBF7B1;
        color: #2C8A47;
        border: 1px solid #2C8A47;
    }
    
    /* SELECET (FILTER) */
    
    .icon-filter{
        position: absolute;
        margin-left: 1px;
        top: 6px;
        width: 40px;
    }
    
    .filter{
        width: 220px;
        height: 40px;
        padding: 8px 40px;
        border-radius: 10px;
        font-size: 18px;
    }
    
    
    /* BUTTON CONSULT */
    
    .button-consult{
        width: 120px;
        height: 40px;
        border: 1px solid #000;
        font-size: 18px;
        text-align: center;
        transition: background-color 0.5s;
    }
    
    /* BUTTON ADD */

    .icon-add{
        width: 25px;
        height: 25px;
    }

    .button-add{
        width: 150px;
        height: 50px;
        padding: 2px 8px;
        font-size: 18px;

    }

    /* CONTAINER CON REGISTRO DE LOS PORCINOS */

    .result-consult{
        max-width: 780px;
        max-height: 300px;
        border-radius: 20px;
        display: grid;
        grid-template-rows: 45px 50px;
    }

    /* CAMPOS QUE CONTIENE EL REGISTRO DEL PORCINO 111 */

    .descri-porcino{
        width: 750px;
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        gap: 20px;
    }

    #id{
        margin-left: 20px;
        grid-column-start: 3;
    }

    /* CONTAINER CON LA INFO DEL PORCINO 111*/

    .record-porcino{
        width: 750px;
        height: 80px;
        border-radius: 8px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 10px;
    }



    .campo-peso-fin, .campo-estado{
        display: none;
    }

    /* ITEMS DENTRO DEL CONTAINER DE LA INFO DEL PORCINO */

    .pig-icon{
        margin-left: 10PX;
        width: 80px;
        height: 80px;
    }

    /* CONTAINER BOTONES EDIT, DELETE Y SHOW */

    .container-buttons{
        grid-column: 9 / 10;
        display: flex;
        gap: 10px;
    }
    
    .icon-eye, .icon-edit, .icon-delete{
        margin: 0;
        transition: scale 0.5s;
        width: 52px;
        height: 52px;
    }
    
    .dialog-icon-eye, .dialog-icon-edit, .dialog-icon-dele{
        width: 882px;
        height: 490px;
    }
}