@media (max-width: 430px) {
    body{
        font-size: 12px;
    }

    /* CONTENEDOR DE LA PAGINA COMPLETA */
    .container-page{
        display: flex;
        flex-direction: column;
    }

    /* CONTAINER BARRA DE NAVEGACION */
    
    .s1{
        background-color: #60836A;
        width: 100vw;
        height: 40px;
        border-bottom: 1px solid #000;
        position: absolute;
        top: 0px;
        padding: 0;
        display: flex;
        align-items: center;
    }

    /* CONTAINER BARRA RESPONSIVE */
    .container-user{
        position: absolute;
        top: 10px;
        left: 65%;
        width: 110px;
        align-items: center;
        color: #fff;
    }
    
    .user-icon{
        fill: white;
        width: 25px;
        height: 25px;
    }
    
    .icons-bar-responsive{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    #menu{
        display: none;
    }
    
    /* INPUT CHECKBOX */
    
    .icon-menu{
        display: initial;
        margin-left: 5%;
    }


    .logo{
        top: 0;
        left: 20px;
        width: 120px;
        margin: 10px 8px;
    }

    /* BARRA DE NAVEGACION */

    .bar_nav{
        background-color: #60836A;
        padding: 5px 0;
        border-bottom-right-radius: 8px;
        position: absolute;
        z-index: 10;
        top: 100%;
        display: none;
    }

    .list_nav{
        justify-content: start;
        align-items: start;
        padding: 0 20px;
        gap: 8px;
    }

    /* ICONOS DEL MENU */
    .icon-bar{
        width: 20px;
        height: 20px;
    }

    /* CONTAINER DEL RESTO DE LA PAGINIA */

    .s2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    /* CONTAINER DE TITULO, BARRA DE CONSULTA Y EL BOTTON AGREGAR */
    
    .s3{
        gap: 15px;
    }

    /* CONTENEDOR DEL TITULO */

    .container-title{
        width: 320px;
        height: 40px;
        margin: auto;
        margin-top: 69px;
        border-radius: 8px;
        font-size: 8px;
        padding: 2px 8px;
    }

    /* CONTAINER DE LA BARRA DE BUSQUEDA */

    .container-bar{
        width: 380px;
        height: 55px;
        border-radius: 20px ;
        font-weight: 600;
        gap: 10px;
    }

    .icon-lupa{
        position: sticky;
        margin-left: 8px;
        width: 25px;
    }

    /* INPUT ID PORCINOS */

    .id-porcino{
        width: 100px;
        height: 30px;
        padding: 0px 6px;
        border-radius: 27px;
        border: none;
        border: 1px solid #000;
        outline: none;
        font-size: 8px;
    }
    
    .id-porcino::placeholder{
        font-weight:600;
        color: #8D8D8D;
        font-size: 8px;
    }
    
    .id-porcino:focus::placeholder{
        color: #2C8A47;
    }
    
    .id-porcino:focus{
        background-color: #BBF7B1;
        color: #2C8A47;
        border: 1px solid #2C8A47;
    }
    
    /* SELECET (FILTER) */
    
    .icon-filter{
        position: absolute;
        margin-left: 5px;
        top: 2.5px;
        width: 15px;
    }
    
    .filter{
        width: 120px;
        height: 30px;
        padding: 8px 20px;
        border-radius: 12px;
        font-size: 10px;
    }
    
    
    /* BUTTON CONSULT */
    
    .button-consult{
        width: 90px;
        height: 30px;
        border: 1px solid #000;
        font-size: 12px;
        text-align: center;
        transition: background-color 0.5s;
    }
    
    /* BUTTON ADD */

    .icon-add{
        width: 15px;
    }

    .button-add{
        width: 90px;
        height: 30px;
        padding: 2px 8px;
        font-size: 12px;
    }

    /* CONTAINER CON REGISTRO DE LOS PORCINOS */

    .result-consult{
        width: 380px;
        height: 150px;
        border-radius: 20px;
        display: grid;
        grid-template-rows: 45px 50px;
    }

    /* CAMPOS QUE CONTIENE EL REGISTRO DEL PORCINO 111 */

    .descri-porcino{
        width: 350px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 10px;
    }

    #id{
        margin-left: 10px;
        grid-column-start: 3;
    }

    /* CONTAINER CON LA INFO DEL PORCINO 111*/

    .record-porcino{
        width: 350px;
        height: 50px;
        border-radius: 8px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 8px;
    }

    .campo-etapa, .campo-peso-fin, .campo-estado{
        display: none;
    }

    /* ITEMS DENTRO DEL CONTAINER DE LA INFO DEL PORCINO */

    .pig-icon{
        margin-left: 10PX;
        width: 40px;
        height: 40px;
    }

    /* CONTAINER BOTONES EDIT, DELETE Y SHOW */

    .container-buttons{
        grid-column: 7 / 8;
        display: flex;
        gap: 10px;
    }
    
    .icon-eye, .icon-edit, .icon-delete{
        margin: 0;
        transition: scale 0.5s;
        width: 30px;
        height: 30px;
    }
}
